[submodule "UltimaSdk"]
	path = UltimaSdk
	url = https://github.com/msturgill/ultimasdk.git
[submodule "RoslynPad"]
	path = RoslynPad
	url = git@github.com:JakubLinhart/RoslynPad.git
[submodule "InjectionScript"]
	path = InjectionScript
	url = git@github.com:uoinfusion/InjectionScript.git
	branch = master
