[submodule "UltimaSdk"]
	path = UltimaSdk
	url = https://github.com/JakubLinhart/ultimasdk.git
[submodule "RoslynPad"]
	path = RoslynPad
	url = https://github.com/JakubLinhart/RoslynPad.git
[submodule "InjectionScript"]
	path = InjectionScript
	url = https://github.com/uoinfusion/InjectionScript.git
	branch = master
