@{
    ViewBag.Title = "title";
}

<div>
    <div>
        <strong>Position:</strong><span id="xloc">----</span>,<span id="yloc">----</span>
    </div>
    <div>
        <strong>HP:</strong><span id="currentHealth">--</span>
    </div>
    <div>
        <strong>Stamina:</strong><span id="currentStamina">--</span>
    </div>
    <div>
        <strong>Weight:</strong><span id="weight">---</span>
    </div>
</div>

<div>
    <input type="text" id="message" style='width: 100%' />
    <input type="button" id="sendmessage" value="Send"/>
</div>

<div class="container">
    <div id="messages">
        <ul id="log-messages">
        </ul>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    
    <script>
        $(function () {
            var nazghulHub = $.connection.NazghulHub;
            nazghulHub.client.sendLog = function (message) {
                $('#log-messages').prepend('<li>' + htmlEncode(message) + '</li>');
            };

            nazghulHub.client.sendAllLogs = function (messages) {
                $('#log-messages').empty();
                for (i = messages.length - 1; i >= 0; i--) {
                    $('#log-messages').append('<li>' + htmlEncode(messages[i]) + '</li>');
                }
            };

            nazghulHub.client.sendStatus = function (status) {
                if (status == null) {
                    $('#xloc').text("----");
                    $('#yloc').text("----");
                    $('#currentHealth').text("--");
                    $('#currentStamina').text("--");
                    $('#weight').text("---");
                } else {
                    $('#xloc').text(status.XLoc);
                    $('#yloc').text(status.YLoc);
                    $('#currentHealth').text(status.CurrentHealth);
                    $('#currentStamina').text(status.CurrentStamina);
                    $('#weight').text(status.Weight);
                }
            };

            $.connection.hub.start().done(function () {
                nazghulHub.server.requestInitialInfo();
                $('#sendmessage').click(function () {
                    nazghulHub.server.say($('#message').val());
                    $('#message').val('').focus();
                });
                $('#message').keypress(function (e) {
                    if (e.keyCode === 13)
                        $('#sendmessage').click();
                });
            });
        });

        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }        
    </script>
}